[submodule "Makeathon-BEML-GUI"]
	path = Makeathon-BEML-GUI
	url = https://github.com/utkarsh-1905/Makeathon-BEML-GUI.git
[submodule "Makeathon-BEML-App"]
	path = Makeathon-BEML-App
	url = https://github.com/destrex271/Makeathon-BEML-App.git
[submodule "Makeathon-Cloud-Connection-Layer"]
	path = Makeathon-Cloud-Connection-Layer
	url = https://github.com/utkarsh-1905/Makeathon-Cloud-Connection-Layer.git
[submodule "Makeathon-BEML-Dashboard"]
	path = Makeathon-BEML-Dashboard
	url = https://github.com/destrex271/Makeathon-BEML-Dashboard.git
